<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.piscatory.onebutton" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:persistent="true"
        android:allowBackup="true"
        android:icon="@drawable/vote"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.VoteService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="org.piscatory.onebutton.service" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.VoteActivity"
            android:label="@string/title_activity_vote" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".service.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </receiver>
    </application>

</manifest>
